.App {
  display: flex;
  min-width: 900px;
  padding: 10%;
  background-color: rgb(238, 238, 238);
}

.create_task {
  display: flex;
}
.taskByData {
  display: flex;
  margin: 8px;
  cursor: pointer;
}
.data_box {
  background-color: rgb(221, 200, 174);
}
.mainScreen {
  width: 400px;
}

.tasks_for_day_box {
  background-color: rgb(221, 200, 174);
  padding: 8px;
  width: 400px;
  margin-left: 80px;
}

.flex {
  display: flex;
}
